[workspace]

members = ["poi-radio", "test-sender", "test-utils", "test-runner", "one-shot"]
resolver = "2"

[profile.dev]
debug = true
debuginfo = 2

[profile.release]
panic = 'unwind'
opt-level = 3
